*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato";
    margin-bottom: 15px;
}
.jumbotron {
    color: #75d19e;
    background-color: #050a1a;
}
.lead {
    color: white;
}
#logo {
    width: 150px;
    padding-right: 25px;
}
.jumbotron img {
    max-width: 150px;
    width: 100%;
    height: auto;
}
.btn {
    background-color: #75d19e;
    color: #050a1a;
}

.row {
    margin-bottom: 10px;
}
.title {
    text-align: center;
}
.modal-header{
    background-color: #050a1a;
    color: #75d19e;
}
.modal-header button span{
    color: #75d19e;
}

.modal-body h4{
    margin-bottom: 25px;
}


@media (max-width: 767px) {
    .display-1{
        font-size: 2.5rem;
    }
    .lead {
        font-size: 1rem;
    }
    .display-4{
        font-size: 2rem;
    }
    .display-5{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .card-body{
        padding: 0.5rem;
    }
    .card-body p {
        font-size: 0.8rem;
    }

}
@media (max-width: 991px) {
    .jumbotron{
        padding-left: 20px;
        padding-right: 20px;
    }
    .jumbotron img {
        max-width: 75px;
        float: right;
    }
    #header {
        display: flex;
        flex-direction: column-reverse;
    }
    #logo {
        width: 100%;
        align-items: end;
    }
    .display-4{
        font-size: 2.5rem;
    }
    .card-body{
        padding: 0.5rem;
    }
}